fastapi
uvicorn
jinja2
requests
faiss-cpu
pandas
zip
pytz
python-dateutil
sentencepiece
nltk 
scipy
scikit-learn
numpy
torch
torchvision
tqdm
certifi
urllib3
idna
pydantic
h11
click

sentence-transformers
