fastapi
uvicorn
jinja2
requests
faiss-cpu
pandas
zip
pytz
python-dateutil
sentencepiece
nltk 
scipy
scikit-learn
numpy
torch
torchvision
tqdm
certifi
starlette
urllib3
idna
Jinja2
pydantic
h11
click
typing_extensions
sentence-transformers
