<!DOCTYPE html>
<html>
<head>
   <title>quotes.ai</title>
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="shortcut icon" href="{{ url_for('static', path='img/SEARCH__.png') }}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css">
   <link rel="stylesheet" href="ft-syntax-highlight.css">
   -->
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/bootstrap.css') }}"> 
   <link href="{{ url_for('static', path='/css/home.css') }}" rel="stylesheet">
   <!--<link href="{{ url_for('static', path='/css/fake.css') }}" rel="stylesheet">-->

   <!--<link href="{{ url_for('static', path='/css/box.css') }}" rel="stylesheet">-->
   <link href="{{ url_for('static', path='/css/box.css') }}" rel="stylesheet">


</head>


<body style="background-color: #0c000b;">
  <form action="/search" method="get">
    <div class="frame-div">
      <a href="/">
        <img class="minerva-mcgonagall-icon" alt="" src="{{ url_for('static', path='img/30search.png')}}"/>
      </a>
      <div class="rectangle-div"></div>
      <div class="rectangle-div1"></div>
      <button type="submit" class="circled-down-right"></button>
      <input class="find-quotes-here" type="text" name="query" value="{{ search_query }}" placeholder="Find Quotes Here...."/>
    </div>
  </form>


  <div id="loader" class="spinner"></div>





  <div class="cards">

    <!-- Add spinner element here -->

  


    {% block content %}

      {% for i in range(50) %}
        <div class="card card-1{% if i >= 10 %} hidden{% endif %}">
          <p class="card__exit">
            <img src="{{ url_for('static', path='img/quote1.png')}}" alt="">
          </p>
          <div class="card__icon"><span></span></div>
          <div class="results-div">
            {{ Authors[i] }}
          </div>
          <div class="sub-div">
            {{ Quotes[i] }}
          </div>
          <p class="card__xit">
            <img src="{{ url_for('static', path='img/quote24.png')}}" alt="">
          </p>  
        </div>
      {% endfor %}

    {% endblock content %}
    <div id="loaader" class="sspinner">
      <div class="sspinner-icon"></div>
    </div>






    



  </div> 
  



<script src="{{ url_for('static', path='js/jquery.js') }}"></script>
<script src="{{ url_for('static', path='js/popper.js') }}"></script>
<script src="{{ url_for('static', path='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', path='js/fontawesome.js') }}"></script>

<!-- Import loading-animation.js -->
<script src="{{ url_for('static', path='js/loader.js') }}"></script>

</body>
</html>